<div class="text-container">
    <div class="box-vista-c">

        <div >
            <h3 class="h3VistaC">Vista C</h3>
        </div>

        <span class="inputVistaC" id="inputVistaC"></span>

        <div>
            <button type="button" class="buttonVistaCSwap" id="buttonVistaCSwap">Swap</button>
        </div>

        <div>
            <button type="button" class="buttonVistaCReiniciar" id="buttonVistaCReiniciar">Reiniciar</button>
        </div>

        <div>
            <button type="button" class="buttonVistaCSiguiente" id="buttonVistaCSiguiente">Siguiente</button>
        </div>

    </div>
</div>