<div class="text-container">
    <div class="box-vista-d">

        <div id="divVistaD">
            <h3>Vista D</h3>
        </div>

        <div>
            <button type="button" class="buttonVistaDClick" id="buttonVistaDClick">Click</button>
        </div>

        <div id="divVistaD5Click">

        </div>

        <div id="divVistaD3Click">

        </div>

        <div>
            <button type="button" class="buttonVistaDAtras" id="buttonVistaDAtras">Atrás</button>
        </div>

    </div>
</div>